.columns {
  display: flex;
  gap: var(--space-medium);
}

.main {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.responseTextBox {
  flex: 1;
  position: relative;
}

.responseTextBox textarea {
  height: 100%;
}

.setting {
  flex: 1;
}

.parameterTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parameterTitle.withRangeSlider {
  margin-bottom: -5px;
}

.parameterTitleInput {
  width: 45px;
}

.parameterTitleInput input {
  text-align: right;
}
