.parameterTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parameterTitle.withRangeSlider {
  margin-bottom: -5px;
}

.parameterTitleInput {
  width: 50px;
}

.parameterTitleInput input {
  text-align: right;
}
